; # The Main Point of this file.
; # /var/www/html is default wwwROOT for CentOS 8 but many use /var/www/
auto_prepend_file = '/var/www/html/_system/_EngineHooks/_PrePend_Hook.user.ini.preferred.php'
; #	HINT: Its something like findPath.php
; #		<?php echo($_SERVER['DOCUMENT_ROOT'].'/_system/_PrePend_Hook.user.ini.preferred.php');
; #	This is how you might find the right path on your hosting if they hide it from you.
; # #   #   #   #   #   #   # ###################################

; https://www.php.net/manual/en/configuration.file.per-user.php ~ This kind of file and what it is.
; https://www.php.net/manual/en/ini.list.php ~ What can be changed and the scope of its change.
; user_ini.cache_ttl = "300" in official php's installed ini file. This means that changes of this file wont hit for 5 minutes.

; Errors to report on in backend or front end.
error_reporting = E_ALL & ~E_DEPRECATED
; Error Related Settings the next 3 lines are DEV not production
;display_errors = On
;display_startup_errors = On
; Error Related Settings the next 3 lines are DEV not production
display_errors = Off
display_startup_errors = Off

; HARDENING - you would overwrite this later in specialized scripts with ini set function or another of this file in a new directory.
memory_limit = 6M
max_execution_time=5
max_input_time=10
post_max_size=3M
; uploads in php are 3x in memory + what you do with it.
upload_max_filesize = 2M
max_file_uploads=2
; uploads not allowed as default; there will be a perl/cgi route for that. but you can override any time anywhere.
file_uploads="0"
